<template name="addTeam">
    <form class="form-inline">

        <div class="form-group">
            <input name="number" id="number" type="text" value="" placeholder="Team Number" class="form-control" />
        </div>
        <div class="form-group">
            <input name="name" id="name" type="text" value="" placeholder="Team Name" class="form-control"/>
        </div>
        <div class="form-group">
            <select class="form-control" name="type">
                <option selected="selected">team</option>
                <option>volunteer</option>
            </select>
        </div>
        <input type="submit" value="add" class="btn btn-primary"/>
    </form>
</template>