<template name="addTeam">
    <form class="main form page">
        <div class="form-group">
            <label class="control-label" for="number">number</label>
            <div class="controls">
                <input name="number" id="number" type="text" value="" placeholder="Team Number" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="name">name</label>
            <div class="controls">
                <input name="name" id="name" type="text" value="" placeholder="Team Name" class="form-control"/>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>