<template name="addContact">
    <form name="contact" class="contact-form form form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 col-xs-2 control-label" for="name">name</label>
                <div class="col-sm-9 col-xs-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="your name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 col-xs-2 control-label" for="cell">cell</label>
                <div class="col-sm-9 col-xs-10" >
                    <input type="tel" class="form-control" id="cell" name="cell" data-onblur data-required data-phone />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 col-xs-2 control-label"><span class="glyphicon text-warning glyphicon-alert badge-large"></span></div>
                <div class="col-sm-9 col-xs-10"><div class="alert alert-warning" role="alert">
                    You will receive sms messages throughout the day
                </div>
                    </div>
            </div>

        <div class="form-group">
            <div class="col-sm-1 col-xs-offset-2 col-sm-9 col-xs-10">
                <button type="submit" class="btn btn-lg btn-primary">Join</button>
            </div>
        </div>

    </form>
</template>