<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'teamsList'}}">TeamQueue</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        Display <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="{{pathFor 'teamsDisplay'}}">All Teams Status</a></li>
                        <li><a href="{{pathFor 'displayProgress'}}">All Teams Progress</a></li>
                        {{#if myteam}}<li><a href="/display/{{myteam}}">My Team</a></li>{{/if}}

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        Registration <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="{{pathFor 'teamsList'}}">List Teams</a></li>
                        <li><a href="{{pathFor 'join'}}">Join</a></li>
                        {{#if currentUser}}
                            <li><a href="{{pathFor 'listEvents'}}">Events</a></li>
                            <li><a href="{{pathFor 'newUser'}}">Add Users</a></li>
                        {{/if}}
                    </ul>
                </li>
                {{#if currentUser}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            Queue <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="{{pathFor 'callTeam'}}">Call Team</a></li>
                            <li><a href="{{pathFor 'updateStatus'}}">Update Team</a></li>
                        </ul>
                    </li>
                    <li><a href="{{pathFor 'announce'}}">Announcement</a></li>
            {{/if}}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons}}
            </ul>
        </div>
    </nav>
</template>